/* styles.css */
.infowindow-container {
    display: flex;
    flex-direction: column;
    max-width: 90vw; /* Ancho máximo, considerando un padding para dispositivos móviles */
    overflow: hidden;
}

.infowindow-img img {
    width: 100%;
    height: auto;
    max-height: 30vh; /* Limitar la altura de la imagen para que se vea completamente en pantallas móviles */
    object-fit: cover; /* Asegura que la imagen se ajuste sin deformarse */
}

.infowindow-text {
    padding: 10px;
    background-color: #fff;
    max-height: 20vh; /* Altura máxima para la sección de texto */
    overflow-y: auto; /* Habilita el scroll vertical si el texto es muy largo */
}

.infowindow-text h4 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.infowindow-text p {
    margin-top: 8px;
    font-size: 0.9em;
    color: #555;
    line-height: 1.4em;
}
