<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Configuración de caracteres y vista -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Titulo de la pagina -->
    <title>Suesca</title>
    
    <!-- Favicon de la pagina -->
    <link rel="shortcut icon" href="/src/static/utils/tree suesca.png" type="image/x-icon">
    
    <!-- Enlace hoja de estilos -->
    <link rel="stylesheet" href="/frontend/src/style/Modulo ruta/mobile-first.css" media="only screen and (max-width: 450px)">
    <link rel="stylesheet" href="/frontend/src/style/maps/maps.css" media="only screen and (max-width: 450px)">
    <link rel="stylesheet" href="/frontend/src/style/maps/ventanaEmergente.css" media="only screen and (max-width: 450px)">

    <!-- Conexión previa para optimizar la carga de fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- Scripts de configuración inicial -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Contenedor para la imagen de fondo y botón de retroceso -->
    <div class="container-img">
        <div class="boton-atras"></div>
    </div>

    <!-- Contenedor principal de la información -->
    <div class="container-info">
        <!-- Container para el carrusel de imagenes -->
        <div class="container-carrusel">
            <div class="carrusel">
                <!-- Imagenes del carrusel -->
                <img class="carrusel-img" src="/src/static/utils/Paisaje//Panoramica_Virgen3.jpeg" alt="">
                <img class="carrusel-img" src="/src/static/utils/Paisaje/Crucez.jpeg" alt="">
                <img class="carrusel-img" src="/src/static/utils/Paisaje/Daniela.jpeg" alt="">
                <img class="carrusel-img" src="/src/static/utils/Paisaje/Lucas.jpeg" alt="">
                <img class="carrusel-img" src="/src/static/utils/Paisaje/Mirador.jpeg" alt="">
                <img class="carrusel-img" src="/src/static/utils/Paisaje/Mirador_cruz.jpeg" alt="">
                <img class="carrusel-img" src="/src/static/utils/Paisaje/Mirador_Virgen.jpeg" alt="">
                <img class="carrusel-img" src="/src/static/utils/Paisaje/Panoramica virgen2.jpeg" alt="">
                <img class="carrusel-img" src="/src/static/utils/Paisaje/Mirador_Virgen2.jpeg" alt="">
            </div>
        </div>

        <!-- Container para el nombre de la ruta y clasificación -->
        <div class="container-name-ruta">
            <h4>Alto de la Virgen</h4>
        </div>
        <!-- Contenedor para la distancia de la ruta -->
        <div  class="container-distancia">
            <div class="container-dificultad-distancia-timpo">
                <h5 class="h5">2.4 Km -<span class="span"> (45 min)</span></h5>
                <h5 class="h5">Dificultad: <span class="span">Media</span></h5>
            </div>
        </div>

        <div class="separador"></div>
        
        <!-- Botones de información adicional (tiempo, estaciones, dificultad, tiendas) -->
        <div class="container-info-iconos">
            <!-- Tiempo  -->
            <div class="contaner-iconos-text">
                <div class="iconos">
                    <img src="/src/static/utils/iconos-info/icons8-tiempo-48.png" alt="" id="tiempo">
                </div>
                <p class="text-iconos">
                    Tiempo
                </p>
            </div>
            <!-- Estaciones -->
            <div class="contaner-iconos-text">
                <div class="iconos">
                    <img src="/src/static/utils/iconos-info/icons8-marcador-48.png" alt="" id="estaciones">
                </div>
                <p class="text-iconos">
                    Estaciones
                </p>
            </div>  
            <div class="contaner-iconos-text">
                <div class="iconos">
                    <img src="/src/static/utils/iconos-info/icons8-flexión-de-bíceps-48.png" alt="" id="dificultad">
                </div>
                <p class="text-iconos"> 
                    Dificultad
                </p>
            </div>
            <div class="contaner-iconos-text"> 
                <div class="iconos">
                    <img src="/src/static/utils/iconos-info/icons8-tienda-48.png" alt="" id="tiendas">
                </div>
                <p class="text-iconos">
                    Tiendas
                </p>
            </div>
        </div>

        <!-- Ventana emergente para más información -->        
        <div id="miVentanaEmergente" class="cerrar">
            <div class="container-header-emergente">
                <div class="container-title">
                    <h4 class="title" id="title-contenedor-ventana-emergente"></h4>
                </div>
                <div class="container-button">
                    <button id="cerrarVentana">
                        <img src="/src/static/utils/icons8-xbox-x-64.png" alt="">
                    </button>
                </div>
            </div>
            <div class="containter-article-info" id="containter-article-info">

            </div>
        </div>

        <!--  Container para etiquetas de clasificación de ruta -->
        <div class="container-info-adicional">
            <div class="actividades">Montaña</div>
            <div class="actividades">Bosque</div>
            <div class="actividades">Paisajes</div>
            <div class="actividades">Monumentos</div>
            <div class="actividades">Camino irregular</div>
            <div class="actividades">Pet Friendly</div>
        </div>

        <div class="separador"></div>

        <!-- Descripción de la ruta -->
        <div class="container-descripcion">
            <p class="descripcion" id="descripcion-texto">
                El Alto de la Virgen es un lugar sagrado en la cima de una montaña, ofreciendo vistas impresionantes de la sabana. Es perfecto para locales y turistas que buscan una experiencia espiritual, reflexionar, tomar fotos y relajarse en un entorno sereno.
            </p>
        </div>

        <div class="separador"></div>

        <div class="container-mapa-atajos-estaciones">
            <div id="container-mapa-interactivo-example">

            </div>
        </div>

        <div class="container-leyenda-mapa-interactivo-arriba">
            <div class="container-leyenda">
                <h5>Estaciones</h5>
                <div class="circulo" style="background-color: #EB2330;"></div>
            </div>
            <div class="container-leyenda">
                <h5>Atajos</h5>
                <div class="circulo" style="background-color: #FFA500;"></div>
            </div>
        </div>

        <div class="separador"></div>

        <div class="container-calificativo">
            <div class="container-estrellas">
                <p>5.0</p>
                <div class="container-estrellas-pequeñas-iconos">
                    <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                    <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                    <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                    <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                    <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                </div>
            </div>
            <div class="container-comentarios">
                <div>
                    <h5>Veces recomendada: </h5>
                    <span>200</span>
                </div>
                <div>
                    <h5>Completaron la ruta: </h5>
                    <span>200</span>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="accordion">
            <div class="accordion-item">
              <button class="accordion-header">
                Recomendaciones
                <span class="icon">></span>
              </button>
              <div class="accordion-content">
                <p>Usa un casco y asegúrate de que tu bicicleta esté en buen estado antes de comenzar. Lleva suficiente agua para mantenerte hidratado, además de bloqueador solar y snacks para reponer energías. El camino es destapado, por lo que es importante que tu bicicleta sea apta para este tipo de terreno. Si deseas ingresar al monumento, deberás quitarte los zapatos. Recuerda que no hay tiendas cerca, así que prepárate adecuadamente para una ruta en bicicleta que puede ser exigencia media en el cerro.</p>
              </div>
            </div>
            
            <div class="accordion-item">
              <button class="accordion-header">
                Accesibilidad
                <span class="icon">></span>
              </button>
              <div class="accordion-content">
                <p>La ruta es accesible para ciclistas que sigan el camino principal, pero los atajos presentan mayor dificultad. Algunos de estos atajos cruzan áreas boscosas o son muy empinados, lo que puede ser desafiante para bicicletas no adecuadas para terrenos difíciles. Se recomienda a los ciclistas con menos experiencia o en bicicletas menos robustas que permanezcan en el camino principal para evitar dificultades.</p>
              </div>
            </div>
          
            <div class="accordion-item">
                <button class="accordion-header">
                  Conservación
                  <span class="icon">></span>
                </button>
                <div class="accordion-content">
                  <p>Es fundamental contribuir a la conservación de la ruta, la fauna, la flora y el monumento. Durante el recorrido en bicicleta, se recomienda mantenerse en los senderos marcados para proteger la vegetación local y evitar la erosión del suelo. Es crucial respetar a los animales silvestres, no alimentarlos ni alterarlos, y recoger toda la basura generada. Además, el monumento debe ser valorado como patrimonio cultural; se solicita evitar cualquier acto de vandalismo o daño. Tu respeto por el entorno ayuda a preservar este espacio natural y su biodiversidad para futuras generaciones.</p>
                </div>
            </div>
            
            <div class="accordion-item">
                <button class="accordion-header">
                  Emergencias
                  <span class="icon">></span>
                </button>
                <div class="accordion-content">
                    <div class="emergencia-item">Bomberos:  <a href="tel:+573204547125">320 454 7125</a></div>
                    <div class="emergencia-item">Policía:  <a href="tel:+573204547125">320 454 7125</a></div>
                    <div class="emergencia-item">Defensa Civil:  <a href="tel:+573204547125">320 454 7125</a></div>
                    <div class="emergencia-item">Ambulancia:  <a href="tel:+573204547125">320 454 7125</a></div>                        
                </div>
            </div>
        </div>

        <button>
            ir al mapa
        </button>
     <!-- Arhivos para interacción con el DOM -->
    <script type="module" src="/frontend/src/components/Mapas Ilustrativos/atajosEstacionesBici.js"></script>
    <script type="module" src="/frontend/src/components/DescripcionRuta/DescripcionRuta.js"></script>
</body>
</html>