<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Configuración de caracteres y vista -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Titulo de la pagina -->
    <title>Bici - Tour</title>
    
    <!-- Favicon de la pagina -->
    <link rel="shortcut icon" href="/src/static/utils/tree suesca.png" type="image/x-icon">
    
    <!-- Enlace hoja de estilos -->
     <link rel="stylesheet" href="/frontend/src/style/maps/maps.css" media="only screen and (max-width: 450px)">
     <link rel="stylesheet" href="/frontend/src/style/maps/ventanaEmergente.css" media="only screen and (max-width: 450px)">


    <!-- Conexión previa para optimizar la carga de fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- Scripts de configuración inicial -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyBqxGRMJApROFPPcDGJuzXuM_bJwVVuzD4", v: "weekly"});
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!--The div element for the map -->
    <div class="container-img">
        <div id="map"></div>
        <img src="/src/static/utils/rsdf.jpg" alt="Map" class="map-image">
        <div class="blur-overlay">
            <p class="overlay-text">Map preview - Unlock full view</p>
            <button class="unlock-button" id="desbloquear">Start to Unlock</button>
        </div>
    </div>

    <!-- Indicador de carga -->
    <div id="loading-indicator">
        <div class="spinner"></div>
    </div>

    <!-- Contenedor principal de la información -->
    <div class="container-info">
        <!-- container de la ruta en si misma, con sus funcionalidades -->
        <div class="container-ruta-funciones">
            <div class="container-recuadro-info-title">
                <h4>Bici - Tour</h4>
            </div>
            <div class="container-cuadro-funcionalidades">
                <div class="container-interno">
                    <h5 class="container-title-funcionalidades"> 
                        Km recorridos
                    </h5>
                    <p class="container-funcionalidad" id="km-recorridos">

                    </p>
                </div>
                <div class="container-interno">
                    <h5 class="container-title-funcionalidades"> 
                        Tiempo recorrido
                    </h5>
                    <span class="container-funcionalidad" id = "tiempo-recorrido">

                    </span>
                </div>
            </div>
            <div class="container-cuadro-funcionalidades">
                <div class="container-interno">
                    <h5 class="container-title-funcionalidades"> 
                        Elevación (msnm)
                    </h5>
                    <p class="container-funcionalidad" id="elevacionActual">
                    </p>
                </div>
                <div class="container-interno">
                    <h5 class="container-title-funcionalidades"> 
                        Km restantes
                    </h5>
                    <span class="container-funcionalidad" id="km-restantes">

                    </span>
                </div>
            </div>
            <div class="container-canvas-chart">
                <canvas id="elevationChart" width="300" height="150"></canvas>
            </div>
            <div class="separador"></div>
            
        </div>
    </div>

    <!-- Arhivos para interacción con el DOM -->
    <script type="module" src="/frontend/src/components/Opciones de ruta/mapsBiciTour.js"></script>
    <script type="module" src="/frontend/src/components/Mapas Ilustrativos/atajosEstacionesBici.js"></script>
  </body>
</html>
