<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Configuración de caracteres y vista -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Titulo de la pagina -->
    <title>Ruta Motera</title>
    
    <!-- Favicon de la pagina -->
    <link rel="shortcut icon" href="/src/static/utils/tree suesca.png" type="image/x-icon">
    
    <!-- Enlace hoja de estilos -->
     <link rel="stylesheet" href="/src/static/style/maps/maps.css" media="only screen and (max-width: 450px)">
     <link rel="stylesheet" href="/src/static/style/maps/ventanaEmergente.css" media="only screen and (max-width: 450px)">


    <!-- Conexión previa para optimizar la carga de fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- Scripts de configuración inicial -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyBqxGRMJApROFPPcDGJuzXuM_bJwVVuzD4", v: "weekly"});
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!--The div element for the map -->
    <div class="container-img">
        <div id="map"></div>
        <img src="/src/static/utils/rsdf.jpg" alt="Map" class="map-image">
        <div class="blur-overlay">
            <p class="overlay-text">Map preview - Unlock full view</p>
            <button class="unlock-button" id="desbloquear">Start to Unlock</button>
        </div>
    </div>

    <!-- Indicador de carga -->
    <div id="loading-indicator">
        <div class="spinner"></div>
    </div>

    <!-- Contenedor principal de la información -->
    <div class="container-info">
        <!-- container de la ruta en si misma, con sus funcionalidades -->
        <div class="container-ruta-funciones">
            <div class="container-recuadro-info-title">
                <h4>Ruta Motera</h4>
            </div>
            <div class="container-cuadro-funcionalidades">
                <div class="container-interno">
                    <h5 class="container-title-funcionalidades"> 
                        Km recorridos
                    </h5>
                    <p class="container-funcionalidad" id="km-recorridos">

                    </p>
                </div>
                <div class="container-interno">
                    <h5 class="container-title-funcionalidades"> 
                        Tiempo recorrido
                    </h5>
                    <span class="container-funcionalidad" id = "tiempo-recorrido">

                    </span>
                </div>
            </div>
            <div class="container-cuadro-funcionalidades">
                <div class="container-interno">
                    <h5 class="container-title-funcionalidades"> 
                        Elevación (msnm)
                    </h5>
                    <p class="container-funcionalidad" id="elevacionActual">
                    </p>
                </div>
                <div class="container-interno">
                    <h5 class="container-title-funcionalidades"> 
                        Km restantes
                    </h5>
                    <span class="container-funcionalidad" id="km-restantes">

                    </span>
                </div>
            </div>
            <div class="container-canvas-chart">
                <canvas id="elevationChart" width="300" height="150"></canvas>
            </div>
            <div class="separador"></div>
            
        </div>

        <!-- Container con la descripcion de la ruta explorando a pie -->
        <div class="container-info-descrip">
            <div class="container-recuadro-info-title">
                <h4>Ruta Motera</h4>
                <div class="container-dificultad-distancia-timpo">
                    <h5 class="h5">2.4 Km -<span class="span"> (20 min)</span></h5>
                    <h5 class="h5">Dificultad: <span class="span">Media</span></h5>
                </div>
            </div>
            <div class="separador"></div>
            <div class="container-mapa-atajos-estaciones">
                <div id="container-mapa-interactivo-example">

                </div>
            </div>
            <div class="container-leyenda-mapa-interactivo-arriba">
                <div class="container-leyenda">
                    <h5>Estaciones</h5>
                    <div class="circulo" style="background-color: #EB2330;"></div>
                </div>
                <div class="container-leyenda">
                    <h5>Atajos</h5>
                    <div class="circulo" style="background-color: #FFA500;"></div>
                </div>
            </div>
            <div class="separador"></div>
            <div class="container-calificativo">
                <div class="container-estrellas">
                    <p>5.0</p>
                    <div class="container-estrellas-pequeñas-iconos">
                        <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                        <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                        <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                        <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                        <img src="/src/static/utils/icons8-estrella-48.png" alt="estrella">
                    </div>
                </div>
                <div class="container-comentarios">
                    <div>
                        <h5>Veces recomendada: </h5>
                        <span>118</span>
                    </div>
                    <div>
                        <h5>Completaron la ruta: </h5>
                        <span>120</span>
                    </div>
                </div>
            </div>
            <div class="separador"></div>
            <div class="accordion">
                <div class="accordion-item">
                  <button class="accordion-header">
                    Recomendaciones
                    <span class="icon">></span>
                  </button>
                  <div class="accordion-content">
                    <p>Usa siempre un casco y revisa que tu moto esté en óptimas condiciones antes de comenzar. Lleva suficiente agua para mantenerte hidratado, así como bloqueador solar y algunos snacks para reponer energías. El camino es destapado y presenta algunas secciones con piedras, así que asegúrate de que tu moto esté equipada para enfrentar este tipo de terreno. Si deseas ingresar al monumento, deberás quitarte los zapatos. Ten en cuenta que no hay tiendas cerca, por lo que es importante que estés bien preparado para una ruta motera que puede de exigencia media.</p>
                  </div>
                </div>
                
                <div class="accordion-item">
                  <button class="accordion-header">
                    Accesibilidad
                    <span class="icon">></span>
                  </button>
                  <div class="accordion-content">
                    <p>La ruta es accesible para motos aptas para terrenos difíciles, como las de enduro o trail, que están diseñadas para manejar caminos destapados. Aunque el camino principal es transitable, los atajos presentan mayor dificultad. Algunos de estos atajos cruzan áreas boscosas o son muy empinados, lo que puede resultar desafiante para motos no preparadas para terrenos difíciles. Se recomienda a los motociclistas con menos experiencia o en motos menos robustas que se mantengan en el camino principal para evitar problemas.</p>
                  </div>
                </div>
              
                <div class="accordion-item">
                    <button class="accordion-header">
                      Conservación
                      <span class="icon">></span>
                    </button>
                    <div class="accordion-content">
                      <p>Es fundamental contribuir a la conservación de la ruta, la fauna, la flora y el monumento. Durante el recorrido en moto, es importante mantenerse en los senderos marcados para proteger la vegetación local y evitar la erosión del suelo. Respeta a los animales silvestres: no los alimentes ni los alteres, y asegúrate de recoger toda la basura generada. Además, el monumento debe ser valorado como patrimonio cultural; evita cualquier acto de vandalismo o daño. Tu respeto por el entorno ayuda a preservar este espacio natural y su biodiversidad para futuras generaciones.</p>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <button class="accordion-header">
                      Emergencias
                      <span class="icon">></span>
                    </button>
                    <div class="accordion-content">
                        <div class="emergencia-item">Bomberos:  <a href="tel:+573204547125">320 454 7125</a></div>
                        <div class="emergencia-item">Policía:  <a href="tel:+573204547125">320 454 7125</a></div>
                        <div class="emergencia-item">Defensa Civil:  <a href="tel:+573204547125">320 454 7125</a></div>
                        <div class="emergencia-item">Ambulancia:  <a href="tel:+573204547125">320 454 7125</a></div>                        
                    </div>
                </div>
            </div>
            <div class="separador"></div>
        </div>
    </div>

    <!-- Arhivos para interacción con el DOM -->
    <script type="module" src="/src/static/scripts/mapsRutaMotera.js"></script>
    <script type="module" src="/src/static/scripts/Mapas Ilustrativos/atajosEstacionesMoto.js"></script>
  </body>
</html>
